.pageHeader {
  --background: var(--ion-color-secondary);
  border-radius: 30px;
  box-shadow: 4px #ccc;
}

.headerToolbar {
  --background: var(--ion-color-secondary);
}

.searchBar {
  margin:auto;
  padding:0;
  --background: rgba(0,0,0,0);
  border: solid 1px var(--ion-color-primary-shade);
  border-radius:25px;
  height:50px;
  //var(--ion-color-shade)
}

.timerText{
  color:var(--ion-color-secondary);
}

.timer{
  --background: var(--ion-color-primary);
  border-radius: 30px;
  box-shadow: 4px #ccc;
  margin:auto;
}

.bottomBarButton {
  border-radius: var(--bottomNavBarBorderRadius) var(--bottomNavBarBorderRadius) 0 0;
}

.tabWrapper {
  border-radius: var(--bottomNavBarBorderRadius) var(--bottomNavBarBorderRadius) 0 0;

}

.bottomToolbar {
  border-radius: var(--bottomNavBarBorderRadius) var(--bottomNavBarBorderRadius) 0 0;

}